# IDE / editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
*.env
.env
.env.local
